appsettings.json

bin/
obj/
[Bb]uild/
[Bb]uild[Ll]og.*

*.user
*.suo
*.userosscache
*.sln.docstates

*.cache
*.dbmdl

packages/
*.nupkg
*.snupkg

*.env

.vs/
.vscode/

publish/

*.log

wwwroot/lib/

*.pidb
*.svclog
*.pdb
